.container {
  max-width: 100vw;

  min-height: 100vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  .outlet {
    flex-grow: 1;
    height: 100%;
    
    padding-right: var(--page-padding-x);
    padding-left: var(--page-padding-x);
  }
}

.header {
  padding-top: var(--header-height);
}
