.container {
  padding: 30px var(--page-padding-x);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}
